TicTacToeClient/TicTacToeClient/Web References/GameService/TicTacToeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="player_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinToGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="player_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinToGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JoinToGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check">
        <s:complexType />
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckResult" type="tns:VERDICT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="VERDICT">
        <s:restriction base="s:string">
          <s:enumeration value="ERROR" />
          <s:enumeration value="CONTINUE" />
          <s:enumeration value="DRAW" />
          <s:enumeration value="TIC_WINS" />
          <s:enumeration value="TOE_WINS" />
          <s:enumeration value="NONE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ExitFromGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="player_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExitFromGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExitFromGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WaitOpponent">
        <s:complexType />
      </s:element>
      <s:element name="WaitOpponentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WaitOpponentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommandGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="row" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="col" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="player_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommandGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendCommandGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="player_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateGameSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="CreateGameSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="JoinToGameSoapIn">
    <wsdl:part name="parameters" element="tns:JoinToGame" />
  </wsdl:message>
  <wsdl:message name="JoinToGameSoapOut">
    <wsdl:part name="parameters" element="tns:JoinToGameResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="ExitFromGameSoapIn">
    <wsdl:part name="parameters" element="tns:ExitFromGame" />
  </wsdl:message>
  <wsdl:message name="ExitFromGameSoapOut">
    <wsdl:part name="parameters" element="tns:ExitFromGameResponse" />
  </wsdl:message>
  <wsdl:message name="WaitOpponentSoapIn">
    <wsdl:part name="parameters" element="tns:WaitOpponent" />
  </wsdl:message>
  <wsdl:message name="WaitOpponentSoapOut">
    <wsdl:part name="parameters" element="tns:WaitOpponentResponse" />
  </wsdl:message>
  <wsdl:message name="SendCommandGameSoapIn">
    <wsdl:part name="parameters" element="tns:SendCommandGame" />
  </wsdl:message>
  <wsdl:message name="SendCommandGameSoapOut">
    <wsdl:part name="parameters" element="tns:SendCommandGameResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveCommand" />
  </wsdl:message>
  <wsdl:message name="ReceiveCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="TicTacToeWebServiceSoap">
    <wsdl:operation name="CreateGame">
      <wsdl:input message="tns:CreateGameSoapIn" />
      <wsdl:output message="tns:CreateGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <wsdl:input message="tns:JoinToGameSoapIn" />
      <wsdl:output message="tns:JoinToGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExitFromGame">
      <wsdl:input message="tns:ExitFromGameSoapIn" />
      <wsdl:output message="tns:ExitFromGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WaitOpponent">
      <wsdl:input message="tns:WaitOpponentSoapIn" />
      <wsdl:output message="tns:WaitOpponentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommandGame">
      <wsdl:input message="tns:SendCommandGameSoapIn" />
      <wsdl:output message="tns:SendCommandGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveCommand">
      <wsdl:input message="tns:ReceiveCommandSoapIn" />
      <wsdl:output message="tns:ReceiveCommandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicTacToeWebServiceSoap" type="tns:TicTacToeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <soap:operation soapAction="http://tempuri.org/JoinToGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExitFromGame">
      <soap:operation soapAction="http://tempuri.org/ExitFromGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitOpponent">
      <soap:operation soapAction="http://tempuri.org/WaitOpponent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandGame">
      <soap:operation soapAction="http://tempuri.org/SendCommandGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveCommand">
      <soap:operation soapAction="http://tempuri.org/ReceiveCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TicTacToeWebServiceSoap12" type="tns:TicTacToeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinToGame">
      <soap12:operation soapAction="http://tempuri.org/JoinToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://tempuri.org/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExitFromGame">
      <soap12:operation soapAction="http://tempuri.org/ExitFromGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitOpponent">
      <soap12:operation soapAction="http://tempuri.org/WaitOpponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandGame">
      <soap12:operation soapAction="http://tempuri.org/SendCommandGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveCommand">
      <soap12:operation soapAction="http://tempuri.org/ReceiveCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicTacToeWebService">
    <wsdl:port name="TicTacToeWebServiceSoap" binding="tns:TicTacToeWebServiceSoap">
      <soap:address location="http://localhost:59753/TicTacToeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TicTacToeWebServiceSoap12" binding="tns:TicTacToeWebServiceSoap12">
      <soap12:address location="http://localhost:59753/TicTacToeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>